@media (min-width: 576px) and (max-width:768px) {
  .header {
    height: 368px;
  }
  .bgu{
    height: 350px;
  }
  #top-quote {
    padding-top: 20px;
  }

  .quote>p {
    font-size: 12px;
  }
  
}