@media (min-width: 576px) {
  .header {
    background: url(/img/bckg-1.jpg) no-repeat;
    height: auto;
    background-size: 100%;
  }

  .navbar {
    width: 100%;
    padding: 5px 0;
  }

  .navlink {
    color: white
  }

  a.navlink:hover {
    color: #127e8e
  }

  .nav-item.active>a {
    color: #127e8e
  }

  .myborder {
    padding: 2px 5px;
    box-shadow: 0px 0px 0.1px 0px #ffffff;
  }

  .carousel-inner {
    display: flex;
    align-items: center;
    /* min-height */
  }

  .carousel-inner-header {
    min-height: 275px;
  }

  button.out-border {
    position: relative;
    top: 20px;
    left: 39%;
    width: 25%;
  }

  div.image {
    background-size: cover;
    background-image: url(/img/bckg-2.jpg);
    background-position: center;
  }

  .crosslayer {
    width: 100%;
    height: 100px;
  }

  .services {
    background: url(/img/services.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .block {
    background-color: #3d3d3d;
  }

  .puzzles {
    color: #ffffff;
    padding-bottom: 5%;
    text-align: center;
  }

  .puzzles>h3 {
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
  }

  .puzzles>p {
    font-size: 12px;
    padding: 5px 5px 25px;
    text-align: center;
  }

  .note-pic {
    margin: 50px auto 20px;
    padding: 0;
    height: 100px;
    display: block;
    text-align: center;
  }

  .plus-size {
    height: 50px;
  }

  .feedback {
    background: url('/img/feedback.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }

  .card-img {
    background-size: cover;
    background-position: center;
  }

  #side-slide {
    text-align: center;
  }

  .block {
    color: #ffffff;
  }

  .row {
    margin-right: 0;
  }

  #arr-1 {
    position: absolute;
    bottom: 100%;
  }

  .bgu {
    height: 350px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 30%;
    margin: 0;
    border-bottom: 2px solid #414141;
  }

  .img-1 {
    background: url('/img/poke-1.png') no-repeat;
    background-size: contain;
    background-position: center;
  }

  .img-2 {
    background: url('/img/poke-2.png') no-repeat;
    background-size: contain;
    background-position: center;
  }

  .img-3 {
    background: url('/img/poke-3.png') no-repeat;
    background-size: contain;
    background-position: center;
  }

  .card-info {
    position: absolute;
    bottom: 0;
  }

  .card-comment {
    left: 75%;
    padding: 5px 25px;
    background-color: white;
    color: black;
  }

  .card-number {
    left: 20%;
    padding: 5px 25px;
    background-color: white;
    color: black;
  }

  .clients {
    background: url('/img/clients.jpg');
    background-size: cover;
    background-position: center;
  }

  .client-list>img {
    margin: 35px;
  }

  .quote {
    background-color: #097e89;
    height: auto;
  }

  #top-quote {
    padding-top: 20px;
  }

  .quote>p {
    font-size: 12px;
  }

  #quote-form {
    padding: 20px 0px 20px 0;
  }

  .form-group.custom>input,
  button {
    background-color: transparent;
    color: white;
    border-radius: 0;
    width: auto;
  }

  .form-group.custom {
    margin: auto;
  }

  .form-group.custom>input::placeholder {
    color: white
  }

  .form-group.custom>button {
    background-color: white;
    color: #097e89;
    border-radius: 0;
  }

  #but-1 {
    border: 1px solid white;
  }

  #but-2 {
    border: 1px solid white;
  }

  #but-3 {
    border: 1px solid white;
  }

  .footer {
    background-color: #3d3d3d;
    text-align: center;
  }

  .frm {
    margin: auto;
  }

  .social>.nav {
    width: auto;
    display: inline-flex;
  }

  .social>.nav>li>a>img {
    width: 50px;
    height: 50px;
  }

  .subscribe.form-control#but-1 {
    color: #c1c1c1;
    background-color: #2e2e2e;
    border: 0;
  }

  .btn.subscribe#but-3 {
    color: white;
    background-color: #0072bc;
    border: 0;
  }

  .social {
    margin: auto;
  }
}